body {
    margin: 0px;
}
header {
    background-color: #F0E4E2;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    padding: 5px 20% 5px;
}
ul {
    list-style: none;
    display: flex;
    gap: 32px;
}
.logo {
    width: 100px;
}
li {
    float: left;
    font-size: 26px;
}
a {
    text-decoration: none;
}
a:link {
    color: #93554A;
}
a:visited {
    color: grey;
}
a:hover{
    color: gray;
}
a:active {
    color: lightpink;
}

.welcome-section {
    background-color: #F0E4E2;
    height: 550px;
    padding: 36px 20% 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.heroimage {
    width: 80%;
    height: 60%;
    background-color: #F0EfEf;
}
.text {
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-size: 54px;
    font-weight: extra-bold;
    margin: 0px;
}
h2 {
    font-size: 40pt;
    margin: 0px;
}
h4 {
    font-size: 32pt;
    margin: 0px;
}
p {
    font-size: 24pt;
    margin: 0px;
}

.information {
    background-color: #C6978E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    padding: 0px 100px 100px;
}
.illustrationsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    gap: 80px
}
.imageset {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 200px;
    font-size: 18pt;
}
.illustration {
    height: 200px;
    width: 200px;
    background-color: lightpink;
    border-radius: 10% 30%;
}

.quote {
    background-color: #EED6D3;
    height: 500px;
    padding: 36px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    align-items: center;
}
.name {
    font-size: 30px;
    font-weight: bold;
}

.call-to-action {
    background-color: #F0E4E2;
    height: 400px;
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}
.bubble {
    background-color: white;
    border-radius: 20px ;
    width: 70%;
    height: 50%;
    padding: 20px 100px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
button {
    background-color: #d2918c;
    height: 50px;
    width: 150px;
    border-radius: 10pc;
    font-size: 16pt;
}
.text {
    margin: 0px;
    padding: 0px;
}

footer {
    height: 150px;
    background-color: black;
    color: white;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
}